
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
  font-size: 60px;
  text-align: center;
  background-color: black;
  color: red;
  font-family: courier new;
  border: 0px;
}

html {
  background: url('https://pbs.twimg.com/profile_images/378800000866470734/7oqXHZgL.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

}
